<script setup>
defineProps({
    type: {
        type: String,
        default: 'submit',
    },
});
</script>

<template>
    <button :type="type" class="button-color button-font clay button margin-around">
        <slot />
    </button>
</template>
<style scoped>
/* TODO : refactor and use tailwind ****/
button {
    border-radius: 10px;
    width: 100%;
    min-width: 300px;
    height: 54px;
}

.margin-around {
    margin-top: 15px;
    margin-bottom: 15px;
}

.button-color {
    color: var(--main-white);
    background: var(--second-color);
    border: 2px solid var(--third-40);
}

.button-font {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
}
</style>