<template>
        <h4>
            <slot />
        </h4>
</template>

    <script>
        export default {
            name: "Header4"
        }
    </script>

    <style scoped>

        h4{
            font-family: var(--main-font);
            font-weight: 600;
            font-size: 14px;
            line-height: 17px;
        }
    </style>