<template>
        <p>
            <slot />
        </p>
</template>

    <script>
        export default {
            name: "MainParagraph"
        }
    </script>

    <style scoped>

        p{
            font-family: var(--main-font);
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
        }
    </style>